# Convert Units
Pull aboveground biomass data from Chloris and convert to aboveground carbon density by multiplying the data by 0.476.

### Import required packages.

In [1]:
import snowflake.connector
import yaml
import pandas as pd
import matplotlib.pyplot as plt

### Connect to Snowflake and pull the data of interest.
The SQL query below demonstrates how to access variables from the Planet Forest Carbon dataset, converting from aboveground carbon density to aboveground biomass and renaming variables for the year 2020.

**SQL Query Breakdown**

We begin by selecting the variables of interest from the Planet Forest Carbon dataset. In addition to the year, lat, and lon values, we pull the raw aboveground_carbon_density data, and rename this variable 'planet_acd' using the SQL clause 'AS'. Then, we convert this variable to aboveground biomass by dividing by 0.476, and, like above, renaming the resulting variable 'planet_agb'.
```SQL
    SELECT
        year,
        lon,
        lat,
        aboveground_carbon_density AS planet_acd,
        aboveground_carbon_density / 0.476 AS planet_agb
```

Next, we use the SQL clause 'FROM' to indicate which dataset the variables should be pulled from.
```SQL
    FROM
        planet.pv_forest_carbon
```

Finally, we select only the rows of the dataset where the year is equal to 2020 using the SQL clause 'WHERE'. 
```SQL
    WHERE
        c.year = 2020
```

In [4]:
# Pull database information from the config yaml file. 
with open('config.yml', 'r') as file:
    config = yaml.safe_load(file)

# Define the SQL query to get Planet data for 2020.
sql_query = """
    SELECT
        year,
        lon,
        lat,
        aboveground_carbon_density AS planet_acd,
        aboveground_carbon_density / 0.476 AS planet_agb
    FROM
        planet.pv_forest_carbon
    WHERE
        year = 2020
    """

# Connect to database using information stored in config file and execute query.
with snowflake.connector.connect(
        account = config['database-info']['account'], # Replace 'config['database-info']['account']' with the database account name.
        warehouse = config['database-info']['warehouse'], # Replace 'config['database-info']['warehouse']' with the database warehouse name.
        database = config['database-info']['database'], # Replace 'config['database-info']['database']' with the database name.
        user = config['database-info']['user'], # Replace 'config['database-info']['user']' with the database username.
        password = config['database-info']['password'], # Replace 'config['database-info']['password']' with the database password.
) as conn:
    cur = conn.cursor().execute(sql_query)
    df = cur.fetch_pandas_all()

# Examine dataframe.
df.head(10)

   YEAR       LON        LAT  PLANET_ACD  PLANET_AGB
0  2020 -2.778625  57.123375         0.0    0.000000
1  2020 -2.779125  57.122625        49.0  102.941176
2  2020 -2.779625  57.122125        42.0   88.235294
3  2020 -2.778875  57.122125        53.0  111.344538
4  2020 -2.779875  57.121875         0.0    0.000000
5  2020 -2.778125  57.121875        50.0  105.042017
6  2020 -2.778375  57.121625        50.0  105.042017
7  2020 -2.778875  57.121375        62.0  130.252101
8  2020 -2.778375  57.121375        53.0  111.344538
9  2020 -2.780625  57.121125         0.0    0.000000