# Convert Units
Pull aboveground live carbon density data from Planet and convert to aboveground biomass by dividing the data by 0.476.

### Import required packages.

In [1]:
import snowflake.connector
import os
from dotenv import load_dotenv

# Load environment variables.
load_dotenv()

True

### Connect to Snowflake and pull the data of interest.
The SQL query below demonstrates how to access variables from the Planet Forest Carbon Diligence dataset, converting from aboveground carbon density to aboveground biomass and renaming variables for the year 2020.

**SQL Query Breakdown**

We begin by selecting the variables of interest from the Planet Forest Carbon dataset. In addition to the year, y (latitude), and x (longitude) values, we pull the raw aboveground_carbon_density data, and rename this variable 'planet_acd' using the SQL clause 'AS'. Then, we convert this variable to aboveground biomass by dividing by 0.476, and, like above, renaming the resulting variable 'planet_agb'.
```SQL
    SELECT
        year,
        x,
        y,
        aboveground_live_carbon_density AS planet_acd,
        aboveground_live_carbon_density / 0.476 AS planet_agb
```

Next, we use the SQL clause 'FROM' to indicate which dataset the variables should be pulled from.
```SQL
    FROM
        planet.raw_forest_carbon_diligence_30_m
```

Finally, we select only the rows of the dataset where the year is equal to 2020 using the SQL clause 'WHERE'. 
```SQL
    WHERE
        year = 2020
```

In [2]:
# Define the SQL query to get Planet data for 2020.
sql_query = """
    SELECT
        year,
        x,
        y,
        aboveground_live_carbon_density AS planet_acd,
        aboveground_live_carbon_density / 0.476 AS planet_agb
    FROM
        planet.raw_forest_carbon_diligence_30_m
    WHERE
        year = 2020
    """

# Connect to database using information stored in config file and execute query.
with snowflake.connector.connect(
        account=os.getenv('DB_ACCOUNT'),
        warehouse=os.getenv('DB_WAREHOUSE'),
        database=os.getenv('DB_DATABASE'), 
        user=os.getenv('DB_USERNAME'),
        password=os.getenv('DB_PASSWORD')
) as conn:
    cur = conn.cursor().execute(sql_query)
    df = cur.fetch_pandas_all()

# Examine dataframe.
df.head(10)

   YEAR         X          Y  PLANET_ACD  PLANET_AGB
0  2020 -1.407125  53.742125         NaN         NaN
1  2020 -1.410125  53.752125         0.0         0.0
2  2020 -1.419125  53.754625         0.0         0.0
3  2020 -1.388625  53.747625         NaN         NaN
4  2020 -1.412625  53.751875         0.0         0.0
5  2020 -1.419625  53.755125         0.0         0.0
6  2020 -1.406625  53.750375         0.0         0.0
7  2020 -1.402125  53.757625         0.0         0.0
8  2020 -1.413125  53.755625         0.0         0.0
9  2020 -1.414375  53.749125         0.0         0.0